{{!-- Create a table --}}
<table>

    {{!-- Header section --}}
    <thead>

        {{!-- For just the first row, we print each key of the row object as a header cell so we
        know what each column means when the page renders --}}
        <tr id="headerRow">
            <th>
                Update
            </th>
            <th>
                Delete
            </th>
            {{#each data.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
        </tr>
    </thead>

    {{!-- Body section --}}
    <tbody>

        {{!-- For each row, print the user_id, first_name, last_name, and email, in order --}}
        {{#each data}}
        <tr>
            <td>
                <button class="updateButton" onclick="setUpdateTableToValues(event)">Update</button>
            </td>
            <td>
                <button class="deleteButton" onclick="setDeleteTableToValues(event)">Delete</button>
            </td>
            <td class="data">{{this.StaffID}}</td>
            <td class="data">{{this.CourseID}}</td>
            <td class="data">{{this.StaffBio}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{!-- Make a way to differentiate between all tables --}}
{{> InstructorCRUD}}

