@import url('colors.css');

table{
    border-collapse:collapse;
    margin: 0 auto;
    border:1px solid var(--primary-dark);
    width: 80%;
    margin-bottom: 20px;
}

table th{
    border:1px solid var(--secondary-dark);
    background-color: var(--primary-dark);
    color: var(--primary-light);
    padding: 10px;
    text-align: left;
}

table td{
    border:1px solid var(--secondary-dark);
    background-color: transparent;
    color: var(--primary-dark);
    padding: 10px;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}