table{
    border-collapse:collapse;
    margin: 0 auto;
    border:1px solid #000000;
    width: 80%;
    margin-bottom: 20px;
}

table th{
    border:1px solid #000000;
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: left;
}

table td{
    border:1px solid #000000;
    background-color: transparent;
    color: #000000;
    padding: 10px;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    z-index: 2;
}